{% extends "base.html" %}
{% import 'forms.html' as forms %}
{% set active_page = "exercises" %}

{% block page_header %}
    <h1>Edit Exercise</h1>
{% endblock %}

{% block content %}
<form class="form-horizontal" method="post" action="?{{ request.query_string }}">
    <fieldset>
    {{ forms.render(form) }}
    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <button type="submit" class="btn btn-primary">Save</button>
            <a href="{{ url_for('exercises.index') }}" class="btn btn-default">Cancel</a>
        </div>
    </div>
</form>
{% endblock %}
