{% extends "base.html" %}

{% block page_header %}
    <h1>Edit Exercise</h1>
{% endblock %}

{% block content %}
<form class="form-horizontal" method="post" action="?{{ request.query_string }}">
    <fieldset>
    {% for field in form %}
        {% if field.type in ['CSRFTokenField', 'HiddenField'] %}
            {{ field() }}
        {% else %}
            <div class="form-group">
                <label for="{{ field.name }}" class="col-xs-2 control-label" style="text-transform:capitalize;">{{ field.name }}</label>
                <div class="col-xs-10">
                    {% if field.type == 'FieldList' %}
                         <textarea id="{{ field.name }}" name="{{ field.name }}" class="form-control" rows="5" cols="30" placeholder="Enter data list (one per line)">{{ field.object_data|join('\n') }}</textarea>
                    {% else %}
                        <input type="text" class="form-control" name="{{ field.name }}" id="{{ field.name }}" value="{{ field.object_data }}">
                    {% endif %}
                </div>
            </div>
        {% endif %}
    </fieldset>
    {% endfor %}
    <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </div>
</form>
{% endblock %}
