{% extends "base.html" %}
{% set active_page = "exercises" %}

{% block page_header %}
    <h1>
        Exercises
        <a href="{{ url_for('exercises.add') }}">
            <button class="btn btn-primary btn-large">
            <i class="fa fa-plus-circle"></i></button>
        </a>
    </h1>
{% endblock %}

{% block content %}
    <table class="table table-hover table-condensed">
        <thead>
            <th>Name</th>
            <th>Muscles</th>
            <th>Description</th>
            <th></th>
        </thead>
        <tbody>
            {% for exercise in exercises %}
                <tr>
                    <td>{{ exercise.name }}</td>
                    <td>
                        {% if exercise.muscles %}
                            <ul>
                            {% for muscle in exercise.muscles %}
                                <li>{{ muscle }}</li>
                            {% endfor %}
                            </ul>
                        {% endif %}
                    </td>
                    <td>{% if exercise.description %}{{ exercise.description }}{% endif %}</td>
                    <td>
                        <a href="{{ url_for('exercises.edit', id=exercise.id) }}">
                            <button class="btn btn-primary"><i class="fa fa-pencil"></i></button>
                        </a>
                        <a class="confirmLink" href="{{ url_for('exercises.delete', id=exercise.id) }}">
                            <button class="btn btn-danger"><i class="fa fa-trash-o"></i></button>
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div id="dialog" title="Confirmation Required">Are you sure about this?</div>
{% endblock %}

{% block js_footer %}
    <script type="text/javascript">
        $(document).ready(function () {
            $("#dialog").dialog({
                autoOpen: false,
                modal: true
            });
        });

        $(".confirmLink").click(function (e) {
            e.preventDefault();
            var targetUrl = $(this).attr("href");

            $("#dialog").dialog({
                buttons: {
                    "Confirm": function () {
                        window.location.href = targetUrl;
                    },
                    "Cancel": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $("#dialog").dialog("open");
        });
    </script>
{% endblock %}
