{% extends "base.html" %}
{% set active_page = "workouts" %}

{% block page_header %}
        <h1>
        Workouts
        <a href="{{ url_for('workouts.add') }}">
            <button class="btn btn-primary btn-large">
            <i class="fa fa-plus-circle"></i></button>
        </a>
    </h1>
{% endblock %}

{% block content %}
    <table class="table table-hover table-condensed">
        <thead>
            <th>Date</th>
            <th>Cycle</th>
            <th>Duration</th>
            <th>Motivation</th>
            <th></th>
        </thead>
        <tbody>
            {% if workouts %}
                {% for workout in workouts %}
                <tr>
                    <td>{{ workout.timestamp }}</td>
                    <td>
                        <a href="{{ url_for('cycles.edit', id=workout.cycle.id) }}">
                            <button class="btn btn-info btn-xs"><i class="fa fa-eye"></i></button>
                        </a> {{ workout.cycle.name }}
                    </td>
                    <td>{{ workout.duration }}</td>
                    <td>{{ workout.motivation }}</td>
                    <td>
                        <a href="{{ url_for('workouts.view', id=workout.id) }}">
                            <button class="btn btn-primary"><i class="fa fa-eye"></i></button>
                        </a>
                        <a href="{{ url_for('workouts.fill', id=workout.id, cycle_id=workout.cycle.id, position=0) }}">
                            <button class="btn btn-primary"><i class="fa fa-pencil"></i></button>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="4">No workouts found</td>
                </tr>
            {% endif %}
        </tbody>
    </table>
{% endblock %}